@media(min-width:992px){
    nav{
        width: 21rem;
        height:100vh;
    }
    nav .navbar-brand {
        display: none;
    }
    nav .profile img {
        border: 2px solid white;
    }
     #content {
        margin-left: 21rem;
    }
}
